.formElement {
	@apply w-[370px] md:w-[400px] m-auto h-fit p-5 flex flex-col gap-5 rounded-2xl bg-slate-900;
}

.formElement legend {
	@apply text-5xl text-center font-bold;
	color: rgb(3, 7, 18);
	/* color: #03071299; */
}

/* hover effect for the home line */
.formElement legend a {
	@apply lg:hover:text-slate-600 duration-300 ease-in-out;
}
.formElement > h2 {
	@apply text-xl text-center;
}
.formElement label {
	@apply flex flex-col gap-2;
}

.formElement > div {
	@apply flex justify-between items-center;
}

.formElement > div > p {
	@apply font-thin;
}
.formElement label.inputCheck {
	@apply flex-row w-fit items-center gap-5;
}

.formElement label span {
	@apply font-light;
}

.formElement label input[type="text"],
[type="password"],
[type="email"] {
	@apply rounded-lg bg-transparent;
	border: 1px solid rgb(51 65 85);
	outline: none;
}

.formElement h3.error {
	@apply bg-red-300/70 text-red-900 w-fit p-1 px-2 rounded-lg;
}

.formElement > button {
	@apply bg-slate-700 text-slate-950 py-3 rounded-xl md:hover:bg-slate-800 font-semibold text-lg;
}

.formElement > p {
	@apply font-thin text-end;
}

.formElement > p a {
	@apply text-blue-400;
}
