/* new account secction container */
.newAccount {
	@apply lg:my-44;
	background-image: url("/wizehero.jpeg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.newAccount > div {
	@apply px-5 py-10 md:py-20 w-full;
	backdrop-filter: blur(5px);
}

.newAccount > div .newAccountContent {
	@apply flex flex-col gap-3 md:w-2/3 mx-auto md:items-center md:text-center;
}

.newAccount h1 {
	@apply text-3xl font-semibold;
}

.newAccount p {
	@apply text-lg font-light;
}

.newAccount > div > .newAccountContent a button {
	@apply px-5 py-3 rounded-lg mt-5 md:w-fit duration-200 ease-in-out lg:hover:bg-slate-300 lg:hover:text-[#030712];
	border: 1px solid rgb(203 213 225);
}
